# Compiled files
/target/

# Cargo files
Cargo.lock
Cargo.toml

# Generated documentation
/target/doc/

# IDE and text editor files
.idea/
.vscode/

# Build output
**/target/

# OS and editor temporary files
.DS_Store
Thumbs.db
*.swp

# Logs
*.log
